@model IEnumerable<WebApp.Models.EmptyClass>
@{
	var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
}

<div id="@viewName">
	<!-- Scripts -->
	<script src="@Url.Content(App.Utils.Utils.GetJsFilePath(Path))"></script>
	<script src="~/js/wizard.js"></script>
	<!-- Include wizard CSS -->
	<link href="~/css/bootstrap-nav-wizard.css" rel="stylesheet" type="text/css" />


	<!-- Plantilla que se utilizará en la columna de acciones de la grilla -->
	<script id="actionTemplate" type="text/x-kendo-template">
		<div class='text-center'>
			<a class='btn btn-primary' href='@Url.Action("ActualizarUsuario", "Usuarios", new { area = "SEG" })/#=data.Id#'>Editar</a>
			<button type="button" onclick="Index.eliminar(event)" class="btn btn-danger">Eliminar</button>
		</div>
	</script>

	<div class="page-header">
		<h3><i class="fa fa-gear page-header-icon"></i>&nbsp;&nbsp;Actualizar usuarios</h3>
	</div>
	<div class="container-fluid">
		<div class='row'>

			<div id="wizard" class="col-12">
				<ul class='nav nav-wizard'>
					<li class="active"><a href='#step1' data-toggle="tab">Step 1</a></li>
					<li><a href='#step2' data-toggle="tab"><b><i class="fa fa-gear page-header-icon"></i> Actualizar usuarios</b><br />asas</a></li>
					<li><a href='#step3' data-toggle="tab">Step 3</a></li>
				</ul>
				<div id="myTabContent" class="tab-content ">
					<div class="tab-pane fade " id="step1">
						<div class="card">
							<div class="card-header">
								<strong>Horizontal</strong>
								Form
							</div>
							<div class="card-body">
								<div class="form-group row">
									<label class="col-md-3 col-form-label" for="hf-email">Email</label>
									<div class="col-md-9">
										<input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Enter Email..">
										<span class="help-block">Please enter your email</span>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-md-3 col-form-label" for="hf-password">Password</label>
									<div class="col-md-9">
										<input type="password" id="hf-password" name="hf-password" class="form-control" placeholder="Enter Password..">
										<span class="help-block">Please enter your password</span>
									</div>
								</div>
							</div>

							<div class="card-footer" style="display: flex; justify-content: flex-end;">
								<button class="btn btn-primary next-btn" type="button">Siguiente</button>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="step2">
						<div class="card">
							<div class="card-header">
								<strong>Horizontal</strong>
								Form
							</div>
							<div class="card-body">
								<div class="form-group row">
									<label class="col-md-3 col-form-label" for="hf-email">Email</label>
									<div class="col-md-9">
										<input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Enter Email..">
										<span class="help-block">Please enter your email</span>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-md-3 col-form-label" for="hf-password">Password</label>
									<div class="col-md-9">
										<input type="password" id="hf-password" name="hf-password" class="form-control" placeholder="Enter Password..">
										<span class="help-block">Please enter your password</span>
									</div>
								</div>
							</div>

							<div class="card-footer" style="display: flex; justify-content: flex-end;">
								<button class="btn btn-secondary prev-btn" type="button">Atras</button>
								<button class="btn btn-primary next-btn" type="button">Siguiente</button>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="step3">
						<div class="card">
							<div class="card-header">
								<strong>Horizontal</strong>
								Form
							</div>
							<div class="card-body">
								<div class="form-group row">
									<label class="col-md-3 col-form-label" for="hf-email">Email</label>
									<div class="col-md-9">
										<input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Enter Email..">
										<span class="help-block">Please enter your email</span>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-md-3 col-form-label" for="hf-password">Password</label>
									<div class="col-md-9">
										<input type="password" id="hf-password" name="hf-password" class="form-control" placeholder="Enter Password..">
										<span class="help-block">Please enter your password</span>
									</div>
								</div>
							</div>

							<div class="card-footer" style="display: flex; justify-content: flex-end;">
								<button class="btn btn-secondary prev-btn" type="button">Atras</button>
								<button class="btn btn-success" type="button">finalizar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Inicializadores -->
	<script>

		$("#wizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
			//alert("You are on step "+stepNumber+" now");
			if (stepPosition === 'first') {
				$("#prev-btn").addClass('disabled');
			} else if (stepPosition === 'final') {
				$("#next-btn").addClass('disabled');
			} else {
				$("#prev-btn").removeClass('disabled');
				$("#next-btn").removeClass('disabled');
			}
		});
		$(".next-btn").on("click", function () {

			// Navigate next
			$('#wizard').wizard("next");
			return true;
		});
		$(".prev-btn").on("click", function () {

			// Navigate next
			$('#wizard').wizard("prev");
			return true;
		});
		$("#reset-btn").on("click", function () {

			// Navigate next
			$('#wizard').wizard("reset");
			return true;
		});
        $(function () {
            @(viewName).init();
			$('#wizard').wizard({
				selected: 0,
				theme: 'default',
				transitionEffect: 'fade',
				showStepURLhash: false,
				toolbarSettings: {
					//toolbarPosition: 'none',
					toolbarButtonPosition: 'none',
					showPreviousButton: "false",
					showNextButton: "false"
				}
			});

        });

	</script>
</div>
