@model IEnumerable<WebApp.Models.EmptyClass>
@{
	var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
}
<style>
	.nav > li.disabled {
		
		pointer-events: none;
	}

		.nav > li.disabled > a:hover {
			cursor: default;
			text-decoration: none;
			background-color: inherit;
		}
</style>
<div id="@viewName">
	<!-- Scripts -->
	<script src="@Url.Content(App.Utils.Utils.GetJsFilePath(Path))"></script>
	<script src="~/Areas/SEG/Scripts/Usuarios/XXX.js"></script>
	<!-- Include SmartWizard CSS -->
	<link href="~/css/bootstrap-nav-wizard.css" rel="stylesheet" type="text/css" />


	<!-- Plantilla que se utilizará en la columna de acciones de la grilla -->
	<script id="actionTemplate" type="text/x-kendo-template">
		<div class='text-center'>
			<a class='btn btn-primary' href='@Url.Action("ActualizarUsuario", "Usuarios", new { area = "SEG" })/#=data.Id#'>Editar</a>
			<button type="button" onclick="Index.eliminar(event)" class="btn btn-danger">Eliminar</button>
		</div>
	</script>

	<div class="page-header">
		<h3><i class="fa fa-gear page-header-icon"></i>&nbsp;&nbsp;Actualizar usuarios</h3>
	</div>
	<div class="container-fluid">
		<div class='row'>
			<div class="col-12 col-lg-6 col-sm-12">
				<label>External Buttons:</label>
				<div class="btn-group col-lg-6 col-sm-12" role="group">
					<button class="btn btn-secondary" id="prev-btn" type="button">Go Previous</button>
					<button class="btn btn-secondary" id="next-btn" type="button">Go Next</button>
					<button class="btn btn-danger" id="reset-btn" type="button">Reset Wizard</button>
				</div>
			</div>
			<div id="smartWizard">
				<ul class='nav nav-wizard'>
					<li><a href='#step1' data-toggle="tab">Step 1 - Completed</a></li>
					<li class='active'><a href='#step2' data-toggle="tab">Step 2 - Completed</a></li>
					<li class="disabled"><a href='#step3' data-toggle="tab">Step 3 - Active</a></li>
					<li><a href='#step3'>Step 4 - Not Yet Reached</a></li>
				</ul>
				<hr />
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade" id="step1">
						<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
					</div>
					<div class="tab-pane fade active in show" id="step2">
						<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
					</div>
					<div class="tab-pane fade" id="step3">
						<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Inicializadores -->
	<script> 
		$("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
			//alert("You are on step "+stepNumber+" now");
			if (stepPosition === 'first') {
				$("#prev-btn").addClass('disabled');
			} else if (stepPosition === 'final') {
				$("#next-btn").addClass('disabled');
			} else {
				$("#prev-btn").removeClass('disabled');
				$("#next-btn").removeClass('disabled');
			}
		});
		$("#next-btn").on("click", function () {
			debugger
			// Navigate next
			$('#smartwizard').smartWizard("next");
			return true;
		});
        $(function () {
            @(viewName).init();
			$('#smartWizard').smartWizard({
				selected: 0,
				theme: 'default',
				transitionEffect: 'fade',
				showStepURLhash: false,
				toolbarSettings: {
					//toolbarPosition: 'none',
					toolbarButtonPosition: 'none',
					showPreviousButton: "false",
					showNextButton: "false"
				}
			});
			$('#smartWizard').next();
        });

	</script>
</div>
