<!DOCTYPE html>
<html>
<style>
	body, html {
		height: 100% !important;
		margin: 0 !important;
	}

	.bg {
		/* The image used */
		background-image: url('../../img/g3709.png');
		/* Full height */
		height: 100%;
		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.card {
		-webkit-box-shadow: 11px 13px 13px -3px rgba(0,0,0,0.28);
		-moz-box-shadow: 11px 13px 13px -3px rgba(0,0,0,0.28);
		box-shadow: 11px 13px 13px -3px rgba(0,0,0,0.28);
	}
</style>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>@ViewData["Title"] - CoreUI.Web</title>

    <link href="~/vendors/css/animate.min.css" rel="stylesheet">
    <link href="~/vendors/css/sweetalert.min.css" rel="stylesheet">
    <link href="~/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/vendors/css/simple-line-icons.min.css" rel="stylesheet">
    <script src="~/js/jquery.all.min.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/site.css" />


    @RenderSection("Styles", required: false)
</head>

<body class="bg app flex-row align-items-center">
	@RenderBody()
	<script src="~/vendors/js/sweetalert.min.js"></script>
	<script src="~/vendors/js/popper.min.js"></script>
	<script src="~/vendors/js/bootstrap.min.js"></script>
	<script src="~/vendors/js/pace.min.js"></script>


	<script src="~/js/app/Site.js"></script>

	@RenderSection("Scripts", required: false)
	<script>
		$(function () {
			Site.init();
		});
	</script>
</body>
</html>
