<aside class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav metismenu" id="menu">
            <li>
                <a href="#" aria-expanded="true">
                    <span class="sidebar-nav-item-icon fa fa-wrench"></span>
                    <span class="sidebar-nav-item">Parametrización</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    @Html.MenuItem(" Usuarios", "Index", "Usuarios", "fa fa-user", new { Area = "SEG" })
                    @Html.MenuItem(" Personas", "Index", "Person", "fa fa-user", new { Area = "PARAM" })
                   
                </ul>
            </li>
            <li>
                <a href="#" aria-expanded="true">
                    <span class="sidebar-nav-item-icon fa fa-wrench"></span>
                    <span class="sidebar-nav-item">Proyectos</span>
                    <span class="fa arrow"></span>
                </a>
               
            </li>

        </ul>
        
    </nav>
</aside>
