<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Seguridad</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
					@Html.MenuItem("Usuarios", "Index", "Usuarios", "icon-puzzle", new  { Area = "SEG" })
                </li>
            </ul>
        </li>
    </ul>
</nav>