<aside class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav metismenu" id="menu">
            <li >
                <a href="#" aria-expanded="true">
                    <span class="sidebar-nav-item-icon fa fa-github fa-lg"></span>
                    <span class="sidebar-nav-item">metisMenu</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    @Html.MenuItem(" Usuarios", "Index", "Usuarios2", "fa fa-user", new { Area = "SEG" })
                    <li class="">
                        <a href="https://github.com/onokumus/metisMenu">
                            <span class="sidebar-nav-item-icon fa fa-code-fork"></span> Fork
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/onokumus/metisMenu">
                            <span class="sidebar-nav-item-icon fa fa-star"></span> Star
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/onokumus/metisMenu/issues">
                            <span class="sidebar-nav-item-icon fa fa-exclamation-triangle"></span> Issues
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" aria-expanded="false">Menu 0 <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" aria-expanded="false">
                    <li><a href="#">item 0.1</a></li>
                    <li><a href="#">item 0.2</a></li>
                    <li><a href="http://onokumus.com">onokumus</a></li>
                    <li><a href="#">item 0.4</a></li>
                </ul>
            </li>
            <li>
                <a href="#" aria-expanded="false">Menu 1 <span class="glyphicon arrow"></span></a>
                <ul class="nav nav-second-level" aria-expanded="false">
                    <li><a href="#">item 1.1</a></li>
                    <li><a href="#">item 1.2</a></li>
                    <li>
                        <a href="#" aria-expanded="false">Menu 1.3 <span class="fa plus-times"></span></a>
                        <ul class="nav nav-third-level" aria-expanded="false">
                            @Html.MenuItem(" Usuarios", "Index", "Usuarios", "fa fa-user", new { Area = "SEG" })
                            <li><a href="#">item 1.3.2</a></li>
                            <li><a href="#">item 1.3.3</a></li>
                            <li><a href="#">item 1.3.4</a></li>
                        </ul>
                    </li>
                    <li><a href="#">item 1.4</a></li>
                    <li>
                        <a href="#" aria-expanded="false">Menu 1.5 <span class="fa plus-minus"></span></a>
                        <ul aria-expanded="false">
                            <li><a href="#">item 1.5.1</a></li>
                            <li><a href="#">item 1.5.2</a></li>
                            <li><a href="#">item 1.5.3</a></li>
                            <li><a href="#">item 1.5.4</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" aria-expanded="false">Menu 2 <span class="glyphicon arrow"></span></a>
                <ul aria-expanded="false">
                    <li><a href="#">item 2.1</a></li>
                    <li><a href="#">item 2.2</a></li>
                    <li><a href="#">item 2.3</a></li>
                    <li><a href="#">item 2.4</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>
