<aside class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav metismenu" id="menu">
            <li>
                <a href="#" aria-expanded="true">
                    <span class="sidebar-nav-item-icon fa fa-wrench"></span>
                    <span class="sidebar-nav-item">Parametrización</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    @Html.MenuItem(" Usuarios", "Index", "Usuarios", "fa fa-user", new { Area = "SEG" })
                    @Html.MenuItem(" Colaboradores", "Index", "Colaboradores", "fa fa-user", new { Area = "SEG" })

                </ul>
            </li>
            <li>
                <a href="#" aria-expanded="true">
                    <span class="sidebar-nav-item-icon fa fa-wrench"></span>
                    <span class="sidebar-nav-item">Comisiones</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    @Html.MenuItem(" Comisiones", "Index", "Comisiones", "fa fa-user", new { Area = "XXX" })
                    

                </ul>
            </li>

        </ul>
        
    </nav>
</aside>
