.wrapper {
  display: flex;
  align-items: stretch; }

.content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  background-color: #e9ecef;
  width: 100%; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  position: fixed;
  top: 0;
  right: 100%;
  z-index: 2000;
  width: 100%;
  height: 2px;
  background: #007bff; }

.was-validated .form-control:invalid, .form-control.input-validation-error, .was-validated
.custom-select:invalid,
.custom-select.input-validation-error {
  border-color: #dc3545; }

.was-validated .form-control:invalid:focus, .form-control.input-validation-error:focus, .was-validated
.custom-select:invalid:focus,
.custom-select.input-validation-error:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }

.was-validated .form-control:invalid ~ .field-validation-error,
.was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.input-validation-error ~ .field-validation-error,
.form-control.input-validation-error ~ .invalid-tooltip, .was-validated
.custom-select:invalid ~ .field-validation-error,
.was-validated
.custom-select:invalid ~ .invalid-tooltip,
.custom-select.input-validation-error ~ .field-validation-error,
.custom-select.input-validation-error ~ .invalid-tooltip {
  display: block; }

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.input-validation-error ~ .form-check-label {
  color: #dc3545; }

.was-validated .form-check-input:invalid ~ .field-validation-error,
.was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.input-validation-error ~ .field-validation-error,
.form-check-input.input-validation-error ~ .invalid-tooltip {
  display: block; }

.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.input-validation-error ~ .custom-control-label {
  color: #dc3545; }

.was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.input-validation-error ~ .custom-control-label::before {
  background-color: #eb8c95; }

.was-validated .custom-control-input:invalid ~ .field-validation-error,
.was-validated .custom-control-input:invalid ~ .invalid-tooltip, .custom-control-input.input-validation-error ~ .field-validation-error,
.custom-control-input.input-validation-error ~ .invalid-tooltip {
  display: block; }

.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before, .custom-control-input.input-validation-error:checked ~ .custom-control-label::before {
  background-color: #e4606d; }

.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, .custom-control-input.input-validation-error:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #e4e5e6, 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }

.was-validated .custom-file-input:invalid ~ .custom-file-label, .custom-file-input.input-validation-error ~ .custom-file-label {
  border-color: #dc3545; }

.was-validated .custom-file-input:invalid ~ .custom-file-label::before, .custom-file-input.input-validation-error ~ .custom-file-label::before {
  border-color: inherit; }

.was-validated .custom-file-input:invalid ~ .field-validation-error,
.was-validated .custom-file-input:invalid ~ .invalid-tooltip, .custom-file-input.input-validation-error ~ .field-validation-error,
.custom-file-input.input-validation-error ~ .invalid-tooltip {
  display: block; }

.was-validated .custom-file-input:invalid:focus ~ .custom-file-label, .custom-file-input.input-validation-error:focus ~ .custom-file-label {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }

.was-validated .form-control:invalid, .form-control.input-validation-error2, .was-validated
.custom-select:invalid,
.custom-select.input-validation-error2 {
  border-color: #dc3545; }

.was-validated .form-control:invalid:focus, .form-control.input-validation-error2:focus, .was-validated
.custom-select:invalid:focus,
.custom-select.input-validation-error2:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }

.was-validated .form-control:invalid ~ .field-validation-error,
.was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.input-validation-error2 ~ .field-validation-error,
.form-control.input-validation-error2 ~ .invalid-tooltip, .was-validated
.custom-select:invalid ~ .field-validation-error,
.was-validated
.custom-select:invalid ~ .invalid-tooltip,
.custom-select.input-validation-error2 ~ .field-validation-error,
.custom-select.input-validation-error2 ~ .invalid-tooltip {
  display: block; }

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.input-validation-error2 ~ .form-check-label {
  color: #dc3545; }

.was-validated .form-check-input:invalid ~ .field-validation-error,
.was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.input-validation-error2 ~ .field-validation-error,
.form-check-input.input-validation-error2 ~ .invalid-tooltip {
  display: block; }

.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.input-validation-error2 ~ .custom-control-label {
  color: #dc3545; }

.was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.input-validation-error2 ~ .custom-control-label::before {
  background-color: #eb8c95; }

.was-validated .custom-control-input:invalid ~ .field-validation-error,
.was-validated .custom-control-input:invalid ~ .invalid-tooltip, .custom-control-input.input-validation-error2 ~ .field-validation-error,
.custom-control-input.input-validation-error2 ~ .invalid-tooltip {
  display: block; }

.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before, .custom-control-input.input-validation-error2:checked ~ .custom-control-label::before {
  background-color: #e4606d; }

.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, .custom-control-input.input-validation-error2:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #e4e5e6, 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }

.was-validated .custom-file-input:invalid ~ .custom-file-label, .custom-file-input.input-validation-error2 ~ .custom-file-label {
  border-color: #dc3545; }

.was-validated .custom-file-input:invalid ~ .custom-file-label::before, .custom-file-input.input-validation-error2 ~ .custom-file-label::before {
  border-color: inherit; }

.was-validated .custom-file-input:invalid ~ .field-validation-error,
.was-validated .custom-file-input:invalid ~ .invalid-tooltip, .custom-file-input.input-validation-error2 ~ .field-validation-error,
.custom-file-input.input-validation-error2 ~ .invalid-tooltip {
  display: block; }

.was-validated .custom-file-input:invalid:focus ~ .custom-file-label, .custom-file-input.input-validation-error2:focus ~ .custom-file-label {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }

.field-validation-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545; }

/*
 * metismenu - v2.0.2
 * A jQuery menu plugin
 * https://github.com/onokumus/metisMenu
 *
 * Made by Osman Nuri Okumus
 * Under MIT License
 */
.metismenu .plus-minus, .metismenu .plus-times {
  float: right; }

.metismenu .arrow {
  float: right;
  line-height: 1.42857; }

.metismenu .glyphicon.arrow:before {
  content: "\e079"; }

.metismenu .active > a > .glyphicon.arrow:before {
  content: "\e114"; }

.metismenu .fa.arrow:before {
  content: "\f104"; }

.metismenu .active > a > .fa.arrow:before {
  content: "\f107"; }

.metismenu .ion.arrow:before {
  content: "\f3d2"; }

.metismenu .active > a > .ion.arrow:before {
  content: "\f3d0"; }

.metismenu .fa.plus-minus:before, .metismenu .fa.plus-times:before {
  content: "\f067"; }

.metismenu .active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.metismenu .active > a > .fa.plus-minus:before {
  content: "\f068"; }

.metismenu .collapse {
  display: none; }

.metismenu .collapse.in {
  display: block; }

.metismenu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility; }

.mini-navbar .metismenu .collapse {
  opacity: 0; }

.mini-navbar .metismenu .collapse.in {
  opacity: 1; }

.mini-navbar .metismenu .collapse a {
  display: none; }

.mini-navbar .metismenu .collapse.in a {
  display: block; }

.modal-xl {
  max-width: 90% !important; }

.sidebar {
  min-width: 230px;
  max-width: 230px;
  background: #2f4050;
  color: #fff;
  transition: all 0.3s; }
  .sidebar.active {
    margin-left: -230px; }
  @media (max-width: 991.98px) {
    .sidebar {
      margin-left: -230px; }
      .sidebar.active {
        margin-left: 0px; } }
  .sidebar .nav.metismenu {
    display: block; }
  .sidebar .nav > li.active {
    border-left: 2px solid #007bff;
    background: #263340; }
  .sidebar .nav > li > a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px; }
  .sidebar ul > li.active > a {
    color: #ffffff; }
  .sidebar .nav > li > a {
    position: relative;
    display: block; }
  .sidebar ul > li {
    display: block; }
  .sidebar a:hover {
    color: #FFF !important;
    text-decoration: none;
    background: #263340; }
  .sidebar .nav-second-level li a {
    padding: 7px 10px 7px 10px;
    padding-left: 52px; }
  .sidebar .nav-second-level li {
    border-left: none !important; }

.metismenu .collapse.in {
  display: block; }

.nav.nav-second-level.collapse[style] {
  height: auto !important; }

.nav {
  display: block;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-second-level li:last-child {
  margin-bottom: 10px; }

ul.nav-second-level {
  background: #263340; }

.nav > li {
  position: relative;
  display: block; }

ul.nav-second-level:after {
  content: "";
  display: table;
  clear: both; }

.nav-third-level li a {
  padding-left: 62px !important; }

/******************************************+*/
