body {
    padding: 0;
    background-color: #EEE !important;
    height: 100%;
    line-height: 1.42857143;
}

.be-fixed-sidebar .be-left-sidebar {
    height: 100%;
    margin-top: 61px;
    padding-bottom: 61px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1029;
    transition: all 3s;
}

.be-left-sidebar {
    background-color: #253648;
    width: 230px;
    left: 0;
    position: absolute;
    border-right: 1px solid #e3e3e3;
    transition: all 3s;
}


    .be-left-sidebar:before {
        content: "";
        position: fixed;
        z-index: -1;
        width: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: inherit;
        border-right: 1px solid #e3e3e3;
        transition: all 3s;
    }

.app-body {
    margin-left: 230px;
    transition: all 3s;
}

.modal-xl {
    max-width: 90%!important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    .be-left-sidebar {
        display:none;
    }
    .app-body {
        margin-left: 0px;
    }

        .be-left-sidebar.active {
            margin-left: 0;
        }

    #sidebarCollapse span {
        display: none;
    }
}