.app,
app-dashboard,
app-root {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
}

.app-body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-positive: 1;
	flex-grow: 1;
	overflow-x: hidden;
}

	.app-body .main {
		-ms-flex: 1;
		flex: 1;
		min-width: 0;
	}

	.app-body .sidebar {
		-ms-flex: 0 0 200px;
		flex: 0 0 200px;
		-ms-flex-order: -1;
		order: -1;
	}

	.app-body .aside-menu {
		-ms-flex: 0 0 250px;
		flex: 0 0 250px;
	}

@media (max-width: 575.98px) {
	.d-down-none {
		display: none !important;
	}
}

@media (max-width: 767.98px) {
	.d-sm-down-none {
		display: none !important;
	}
}

@media (max-width: 991.98px) {
	.d-md-down-none {
		display: none !important;
	}
}

@media (max-width: 1199.98px) {
	.d-lg-down-none {
		display: none !important;
	}
}
