.wrapper {
  display: flex;
  align-items: stretch; }

.content {
  min-height: 100vh;
  transition: all 0.3s;
  background-color: #f8f9fa;
  width: 100%; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  position: fixed;
  top: 0;
  right: 100%;
  z-index: 2000;
  width: 100%;
  height: 2px;
  background: #3298d3; }

.k-grid a.btn {
  color: white; }

.btn {
  color: white; }

.sweet-overlay {
  z-index: 9999 !important; }

.sweet-alert {
  z-index: 10000 !important; }

.k-widget, .k-block {
  font-size: .8rem; }

.page-header {
  padding: 1rem;
  background-color: #e9ecef; }

.container-fluid {
  padding-top: 1rem; }

.trv-report-viewer > .trv-content-wrapper.k-content > .trv-nav.k-widget > ul.trv-menu-large.k-widget.k-reset.k-header.k-menu.k-menu-horizontal {
  background-color: #043d66; }

.trv-report-viewer > .trv-content-wrapper.k-content > .trv-nav.k-widget > ul.trv-menu-large.k-widget.k-reset.k-header.k-menu.k-menu-horizontal > .k-item.k-state-default > .k-link {
  color: white; }

.trv-report-viewer > .trv-content-wrapper.k-content > .trv-nav.k-widget > .trv-menu-small.k-widget.k-reset.k-header.k-menu.k-menu-horizontal {
  background-color: #043d66; }

.trv-report-viewer > .trv-content-wrapper.k-content > .trv-nav.k-widget > .trv-menu-small.k-widget.k-reset.k-header.k-menu.k-menu-horizontal > .k-item.k-state-default > .k-link {
  color: white; }

/*
 * metismenu - v2.0.2
 * A jQuery menu plugin
 * https://github.com/onokumus/metisMenu
 *
 * Made by Osman Nuri Okumus
 * Under MIT License
 */
.metismenu .plus-minus, .metismenu .plus-times {
  float: right; }

.metismenu .arrow {
  float: right;
  line-height: 1.42857; }

.metismenu .glyphicon.arrow:before {
  content: "\e079"; }

.metismenu .active > a > .glyphicon.arrow:before {
  content: "\e114"; }

.metismenu .fa.arrow:before {
  content: "\f104"; }

.metismenu .active > a > .fa.arrow:before {
  content: "\f107"; }

.metismenu .ion.arrow:before {
  content: "\f3d2"; }

.metismenu .active > a > .ion.arrow:before {
  content: "\f3d0"; }

.metismenu .fa.plus-minus:before, .metismenu .fa.plus-times:before {
  content: "\f067"; }

.metismenu .active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.metismenu .active > a > .fa.plus-minus:before {
  content: "\f068"; }

.metismenu .collapse {
  display: none; }

.metismenu .collapse.in {
  display: block; }

.metismenu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility; }

.mini-navbar .metismenu .collapse {
  opacity: 0; }

.mini-navbar .metismenu .collapse.in {
  opacity: 1; }

.mini-navbar .metismenu .collapse a {
  display: none; }

.mini-navbar .metismenu .collapse.in a {
  display: block; }

.modal-xl {
  max-width: 90% !important; }

.sidebar {
  min-width: 230px;
  max-width: 230px;
  background: #043d66;
  color: #fff;
  transition: all 0.3s; }
  .sidebar.active {
    margin-left: -230px; }
  @media (max-width: 991.98px) {
    .sidebar {
      margin-left: -230px; }
      .sidebar.active {
        margin-left: 0px; } }
  .sidebar .nav.metismenu {
    display: block; }
  .sidebar .nav > li.active {
    border-left: 2px solid #3298d3;
    background: #032e4d; }
  .sidebar .nav > li > a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px; }
  .sidebar ul > li.active > a {
    color: #ffffff; }
  .sidebar .nav > li > a {
    position: relative;
    display: block; }
  .sidebar ul > li {
    display: block; }
  .sidebar a:hover {
    color: #FFF !important;
    text-decoration: none;
    background: #032e4d; }
  .sidebar .nav-second-level li a {
    padding: 7px 10px 7px 10px;
    padding-left: 52px; }
  .sidebar .nav-second-level li {
    border-left: none !important; }

.metismenu .collapse.in {
  display: block; }

.nav.nav-second-level.collapse[style] {
  height: auto !important; }

.nav {
  display: block;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-second-level li:last-child {
  margin-bottom: 10px; }

ul.nav-second-level {
  background: #032e4d; }

.nav > li {
  position: relative;
  display: block; }

ul.nav-second-level:after {
  content: "";
  display: table;
  clear: both; }

.nav-third-level li a {
  padding-left: 62px !important; }

/******************************************+*/
.was-validated .form-control:invalid, .form-control.input-validation-error, .was-validated
.custom-select:invalid,
.custom-select.input-validation-error {
  border-color: #e16b6f; }

.was-validated .form-control:invalid:focus, .form-control.input-validation-error:focus, .was-validated
.custom-select:invalid:focus,
.custom-select.input-validation-error:focus {
  border-color: #e16b6f;
  box-shadow: 0 0 0 0.2rem rgba(225, 107, 111, 0.25); }

.was-validated .form-control:invalid ~ .field-validation-error,
.was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.input-validation-error ~ .field-validation-error,
.form-control.input-validation-error ~ .invalid-tooltip, .was-validated
.custom-select:invalid ~ .field-validation-error,
.was-validated
.custom-select:invalid ~ .invalid-tooltip,
.custom-select.input-validation-error ~ .field-validation-error,
.custom-select.input-validation-error ~ .invalid-tooltip {
  display: block; }

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.input-validation-error ~ .form-check-label {
  color: #e16b6f; }

.was-validated .form-check-input:invalid ~ .field-validation-error,
.was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.input-validation-error ~ .field-validation-error,
.form-check-input.input-validation-error ~ .invalid-tooltip {
  display: block; }

.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.input-validation-error ~ .custom-control-label {
  color: #e16b6f; }

.was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.input-validation-error ~ .custom-control-label::before {
  background-color: #f2c0c2; }

.was-validated .custom-control-input:invalid ~ .field-validation-error,
.was-validated .custom-control-input:invalid ~ .invalid-tooltip, .custom-control-input.input-validation-error ~ .field-validation-error,
.custom-control-input.input-validation-error ~ .invalid-tooltip {
  display: block; }

.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before, .custom-control-input.input-validation-error:checked ~ .custom-control-label::before {
  background-color: #ea9598; }

.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, .custom-control-input.input-validation-error:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #e4e5e6, 0 0 0 0.2rem rgba(225, 107, 111, 0.25); }

.was-validated .custom-file-input:invalid ~ .custom-file-label, .custom-file-input.input-validation-error ~ .custom-file-label {
  border-color: #e16b6f; }

.was-validated .custom-file-input:invalid ~ .custom-file-label::before, .custom-file-input.input-validation-error ~ .custom-file-label::before {
  border-color: inherit; }

.was-validated .custom-file-input:invalid ~ .field-validation-error,
.was-validated .custom-file-input:invalid ~ .invalid-tooltip, .custom-file-input.input-validation-error ~ .field-validation-error,
.custom-file-input.input-validation-error ~ .invalid-tooltip {
  display: block; }

.was-validated .custom-file-input:invalid:focus ~ .custom-file-label, .custom-file-input.input-validation-error:focus ~ .custom-file-label {
  box-shadow: 0 0 0 0.2rem rgba(225, 107, 111, 0.25); }

.was-validated .form-control:invalid, .form-control.input-validation-error2, .was-validated
.custom-select:invalid,
.custom-select.input-validation-error2 {
  border-color: #e16b6f; }

.was-validated .form-control:invalid:focus, .form-control.input-validation-error2:focus, .was-validated
.custom-select:invalid:focus,
.custom-select.input-validation-error2:focus {
  border-color: #e16b6f;
  box-shadow: 0 0 0 0.2rem rgba(225, 107, 111, 0.25); }

.was-validated .form-control:invalid ~ .field-validation-error,
.was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.input-validation-error2 ~ .field-validation-error,
.form-control.input-validation-error2 ~ .invalid-tooltip, .was-validated
.custom-select:invalid ~ .field-validation-error,
.was-validated
.custom-select:invalid ~ .invalid-tooltip,
.custom-select.input-validation-error2 ~ .field-validation-error,
.custom-select.input-validation-error2 ~ .invalid-tooltip {
  display: block; }

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.input-validation-error2 ~ .form-check-label {
  color: #e16b6f; }

.was-validated .form-check-input:invalid ~ .field-validation-error,
.was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.input-validation-error2 ~ .field-validation-error,
.form-check-input.input-validation-error2 ~ .invalid-tooltip {
  display: block; }

.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.input-validation-error2 ~ .custom-control-label {
  color: #e16b6f; }

.was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.input-validation-error2 ~ .custom-control-label::before {
  background-color: #f2c0c2; }

.was-validated .custom-control-input:invalid ~ .field-validation-error,
.was-validated .custom-control-input:invalid ~ .invalid-tooltip, .custom-control-input.input-validation-error2 ~ .field-validation-error,
.custom-control-input.input-validation-error2 ~ .invalid-tooltip {
  display: block; }

.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before, .custom-control-input.input-validation-error2:checked ~ .custom-control-label::before {
  background-color: #ea9598; }

.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, .custom-control-input.input-validation-error2:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #e4e5e6, 0 0 0 0.2rem rgba(225, 107, 111, 0.25); }

.was-validated .custom-file-input:invalid ~ .custom-file-label, .custom-file-input.input-validation-error2 ~ .custom-file-label {
  border-color: #e16b6f; }

.was-validated .custom-file-input:invalid ~ .custom-file-label::before, .custom-file-input.input-validation-error2 ~ .custom-file-label::before {
  border-color: inherit; }

.was-validated .custom-file-input:invalid ~ .field-validation-error,
.was-validated .custom-file-input:invalid ~ .invalid-tooltip, .custom-file-input.input-validation-error2 ~ .field-validation-error,
.custom-file-input.input-validation-error2 ~ .invalid-tooltip {
  display: block; }

.was-validated .custom-file-input:invalid:focus ~ .custom-file-label, .custom-file-input.input-validation-error2:focus ~ .custom-file-label {
  box-shadow: 0 0 0 0.2rem rgba(225, 107, 111, 0.25); }

.field-validation-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e16b6f; }

ul.nav-wizard {
  background-color: #f9f9f9;
  border: 1px solid #d4d4d4;
  *zoom: 1;
  position: relative;
  overflow: hidden; }

ul.nav-wizard:before {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 46px;
  height: 47px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  z-index: 11;
  content: " "; }

ul.nav-wizard:after {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 138px;
  height: 47px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  z-index: 11;
  content: " "; }

ul.nav-wizard li {
  position: relative;
  float: left;
  height: 46px;
  display: inline-block;
  text-align: middle;
  padding: 0 20px 0 30px;
  margin: 0;
  font-size: 16px;
  line-height: 46px;
  background: #e2f7d9; }

ul.nav-wizard li a {
  color: #468847;
  padding: 0; }

ul.nav-wizard li:after {
  border-left: 16px solid #e2f7d9; }

.nav-wizard > li.disabled > a:hover {
  cursor: default;
  text-decoration: none;
  background-color: inherit; }

ul.nav-wizard li a:hover {
  background-color: transparent; }

.card-footer > :not(:disabled) {
  margin-left: .25rem; }

.nav-wizard > li.disabled {
  pointer-events: none; }

@media screen and (min-width: 700px) {
  ul.nav-wizard li:before {
    position: absolute;
    display: block;
    border: 24px solid transparent;
    border-left: 16px solid #d0d0d0;
    border-right: 0;
    top: -1px;
    z-index: 10;
    content: '';
    right: -16px; }
  ul.nav-wizard li:after {
    position: absolute;
    display: block;
    border: 24px solid transparent;
    border-left: 16px solid #e2f7d9;
    border-right: 0;
    top: -1px;
    z-index: 10;
    content: '';
    right: -15px; } }

@media screen and (max-width: 700px) {
  ul.nav-wizard li {
    width: 100%; } }

ul.nav-wizard li.active {
  color: #257bad;
  background: #b0d7ee; }

ul.nav-wizard li.active:after {
  border-left: 16px solid #b0d7ee; }

ul.nav-wizard li.active a,
ul.nav-wizard li.active a:active,
ul.nav-wizard li.active a:visited,
ul.nav-wizard li.active a:focus {
  color: #257bad;
  background: #b0d7ee; }

ul.nav-wizard .active ~ li {
  color: #999999;
  background: #ededed; }

ul.nav-wizard .active ~ li:after {
  border-left: 16px solid #ededed; }

ul.nav-wizard .active ~ li a,
ul.nav-wizard .active ~ li a:active,
ul.nav-wizard .active ~ li a:visited,
ul.nav-wizard .active ~ li a:focus {
  color: #999999;
  background: #ededed; }

ul.nav-wizard.nav-wizard-backnav li:hover {
  color: #468847;
  background: #f6fbfd; }

ul.nav-wizard.nav-wizard-backnav li:hover:after {
  border-left: 16px solid #f6fbfd; }

ul.nav-wizard.nav-wizard-backnav li:hover a,
ul.nav-wizard.nav-wizard-backnav li:hover a:active,
ul.nav-wizard.nav-wizard-backnav li:hover a:visited,
ul.nav-wizard.nav-wizard-backnav li:hover a:focus {
  color: #468847;
  background: #f6fbfd; }

ul.nav-wizard.nav-wizard-backnav .active ~ li {
  color: #999999;
  background: #ededed; }

ul.nav-wizard.nav-wizard-backnav .active ~ li:after {
  border-left: 16px solid #ededed; }

ul.nav-wizard.nav-wizard-backnav .active ~ li a,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:active,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus {
  color: #999999;
  background: #ededed; }
