
@{
	var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
	
}


<div id="@viewName">
	<!-- Script de la vista modal -->
	<div class="modal-header">
		<h4 class="modal-title">Actualizar persona</h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">×</span>
		</button>
	</div>

	<div class="modal-body">
		<div class="alert alert-info">
			<strong><i class="fa fa-info-circle" aria-hidden="true"></i></strong>
			Ingrese los datos de la persona que desea actalizar su información.
		</div>
	</div>
	<form asp-controller="Home" asp-action="SaveForm"  data-ajax="true" data-ajax-method="POST">
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			<button type="button" class='btn btn-primary huella' onclick="ActualizarPersona.capturar()">Capturar huella</button>
			<button type="button" class='btn btn-primary huella' onclick="ActualizarPersona.validar()">Validar huella</button>
			<button type="submit" class="btn btn-primary">Guardar</button>
		</div>
	</form>


	<!-- Inicialización script de vista -->
	<script>

	</script>
</div>