@{
	var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
}
<script src="/js/telerikReportViewer.kendo-12.0.18.416.min.js"></script>
<script src="/js/telerikReportViewer-12.0.18.416.min.js"></script>

<link href="~/css/kendo.common.min.css" rel="stylesheet" id="common-css" />
<style>

	#reportViewer1 {
		position: relative;
		height: 700px;
		overflow: hidden;
		clear: both;
		width: 100%;
		
	}

	
</style>
<div id="@viewName">
	<!-- Scripts -->
	<script src="@Url.Content(App.Utils.Utils.GetJsFilePath(Path))"></script>
	<!-- Plantilla que se utilizará en la columna de acciones de la grilla -->
	<script id="actionactionTemplateTemplate" type="text/x-kendo-template">
		<div class='text-center'>
			<a class='btn btn-primary' data-modal="modal-lg" href='@Url.Action("ActualizarProducto", "Productos", new { area = "ADMIN" })/#=data.Id#'>Editar</a>
			<a class='btn btn-danger' onclick="Index.eliminarProducto(event)">Eliminar</a>
		</div>
	</script>

	<div class="page-header">
		<h1><i class="fa fa-gear page-header-icon"></i>&nbsp;&nbsp;Configuración del porcentaje de PPCD</h1>
	</div>
	<div class="container-fluid">


		<div id="reportViewer1">
			loading...
		</div>

	</div>
</div>
<script type="text/javascript">

	$(document).ready(function () {

		$("#reportViewer1")
			.telerik_ReportViewer({
				serviceUrl: "https://localhost:44330/api/reports/",
				reportSource: {
					report: "ReportsLibrary.Areas.Test.BarCode, ReportsLibrary",
					parameters: {}
				},
				viewMode: telerikReportViewer.ViewModes.INTERACTIVE,
				scaleMode: telerikReportViewer.ScaleModes.SPECIFIC,
				scale: 1.0,
				enableAccessibility: false
			});
	});
</script>
