@{
    var viewName = System.IO.Path.GetFileNameWithoutExtension(Path);
    ViewBag.Tittle = "JUPITER ";
}
<p class="text-muted">
    <h2>
        Software de control de gastos de viaje
    </h2>
    
</p>