@import "../../node_modules/bootstrap/scss/mixins";
@import "variables";

.modal-xl {
    max-width: 90% !important;
}

.sidebar {
    min-width: $nav-width;
    max-width: $nav-width;
    background: $nav-bg;
    color: #fff;
    transition: all 0.3s;

    &.active {
        margin-left: -$nav-width;
    }

    @include media-breakpoint-down(md) {
        margin-left: -$nav-width;

        &.active {
            margin-left: 0px;
        }
    }

    .nav.metismenu {
        display: block;
    }

    .nav > li.active {
        border-left: 2px solid $primary;
        background: darken( $nav-bg, 5% );
    }

    .nav > li > a {
        color: #a7b1c2;
        font-weight: 600;
        padding: 14px 20px 14px 25px;
    }


    ul > li.active > a {
        color: #ffffff;
    }

    ul > li.active > a.nav-link {
        background: darken( $nav-bg, 10% );
    }

    .nav > li > a {
        position: relative;
        display: block;
    }

    ul > li {
        display: block;
    }

    a:hover {
        color: #FFF !important;
        text-decoration: none;
        background: darken( $nav-bg, 5% );
    }

    .nav-second-level li a {
        padding: 7px 10px 7px 10px;
        padding-left: 52px;
    }

    .nav-second-level li {
        border-left: none !important;
    }
}


.metismenu .collapse.in {
    display: block;
}

.nav.nav-second-level.collapse[style] {
    height: auto !important;
}

.nav {
    
    display:block;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-second-level li:last-child {
    margin-bottom: 10px;
}

ul.nav-second-level {
    background: darken( $nav-bg, 5% );
}
.nav > li {
    position: relative;
    display: block;
}

ul.nav-second-level:after {
    content: "";
    display: table;
    clear: both;
}

.nav-third-level li a {
    padding-left: 62px!important;
}

.navbar-minimalize {
	background-color: $nav-bg;
	border-radius: 3px;
	height:2rem;
}
/******************************************+*/
