@import "../../node_modules/bootstrap/scss/mixins";
@import "variables";

.modal-xl {
    max-width: 90% !important;
}

.sidebar {
    min-width: $nav-width;
    max-width: $nav-width;
    background: $nav-bg;
    color: #fff;
    transition: all 0.3s;

    &.active {
        margin-left: -$nav-width;
    }

    @include media-breakpoint-down(md) {
        margin-left: -$nav-width;

        &.active {
            margin-left: 0px;
        }
    }
}

.nav.metismenu {
    display: block;
}

.nav > li > a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
}

.nav > li > a {
    position: relative;
    display: block;
    /* padding: 10px 17px; */
}
/******************************************+*/
