$blue: #3298d3;
$primary: #3298d3;
$red: #e16b6f;
$danger: #e16b6f;
$yellow: #FFD453;
$warning: #FFD453;
$green: #35BA5C;
$success: #35BA5C;
$font-size-base: .8rem;
$nav-bg: #043d66;

$nav-width: 230px;
$border-color: #ffffff;
$text-color: #ffffff;

$enable-rounded: false;
$enable-shadows: true;
